rest-model-old/src/main/resources/xsd/customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:complexType name="customersType">
	<xs:sequence>
		<xs:element type="xs:string" name="firstname" minOccurs="0"></xs:element>
		<xs:element type="xs:string" name="lastname" minOccurs="0"></xs:element>
		<xs:element type="xs:string" name="customer_url" minOccurs="0"></xs:element>
		<xs:element type="customersType" name="customers" minOccurs="0" maxOccurs="unbounded"></xs:element>
	</xs:sequence>
</xs:complexType>
<xs:complexType name="CustomerListDTOType">
	<xs:sequence>
		<xs:element type="customersType" name="customers"></xs:element>
	</xs:sequence>
</xs:complexType>
</xs:schema>